// Place all the styles related to the company_admin/projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project { background: #eaeaea; padding: 10px; margin-bottom: 10px;}
.project h3 { margin:0px; padding: 0px; }