<h2>Project Setup</h2>
<div class="sidebar-section">
  <ul>
    <li><%= link_to "Projects", company_admin_projects_url %></li>
  </ul>
  <ul>
    <li><%= link_to "Project Types", company_admin_project_types_url %></li>
  </ul>
</div>

<h2>Company Setup</h2>
<div class="sidebar-section">
  <ul>
    <li><%= link_to "Customers", company_admin_customers_url %></li>
  </ul>
</div>