<h2>Resources</h2>
<div class="sidebar-section">
  <ul>
    <li><%= link_to "Documents", project_documents_url(project) %></li>
    <li><a href="#">Materials</a></li>
    <li><%= link_to "People", project_people_url(project) %></li>
  </ul>
</div>

<h2>Logs</h2>
<div class="sidebar-section">
  <ul>
    <li><%= link_to "Submittal Logs", project_submittals_url(project) %></li>
  </ul>
</div>

<h2>Settings</h2>
<div class="sidebar-section">
  <ul> 
    <li><%= link_to "Manage Project",  company_admin_project_url(project)  %></li>
    <li><a href="#">Statuses</a></li>
  </ul>
</div>