<% content_for :titlebar do %>
  <h1><%= link_to "Project #{project.name}", project_url(project) %>  > Material Tracking </h1>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'projects/project_sidebar' %>
<% end %>

<h1>New Bill of Materials</h1>

<%= render :partial => 'form' %>