<h2>Project Resources</h2>
<div class="sidebar-section">
  <ul>
    <li><%= link_to "People", company_admin_project_project_people_url(project) %></li>
  </ul>
  <ul>
    <li><%= link_to "Requirements", company_admin_project_project_requirements_url(project) %></li>
  </ul>
  <ul>
    <li><%= link_to "Pre-Requisites", company_admin_project_prerequisites_url(project) %></li>
  </ul>
</div>