<% content_for :titlebar do %>
  <h1><%= link_to company.name, company_admin_dashboard_url %> > <%= link_to "Projects", company_admin_projects_url %></h1>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'company_admin/shared/sidebar' %>
<% end %>

<h1>New Project</h1>
<%= render :partial => 'form', :locals => {:url => company_admin_project_roles_url(:json) } %>