<% content_for :titlebar do %>
  <h1><%= link_to "Projects", company_admin_projects_url %></h1>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'project_sidebar' %>
<% end %>


<h1>Project <%= project.name %></h1>