<% content_for :titlebar do %>
  <h1><%= link_to company.name, root_url %> > <%= link_to "Material Types", project_material_types_url(project) %></h1>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'projects/project_sidebar' %>
<% end %>

<h1>Update Material Type</h1>
<%= render :partial => 'form' %>