// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header { background: #252525; padding: 15px; }
header nav a { color:white; display:inline-block;}
header .logo, header .projects-dropdown {float: left;}
header .logo {}
header .projects-dropdown {float: left;}
footer { background: #484848; padding: 10px; height: 30px; position: absolute; bottom: 0px; left: 0px; right: 0px; border-top: 3px solid #868686;}