// Place all the styles related to the material controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.document-header {
  background: #595959;
  color: white;
  padding-left: 15px;
  
  a {
    color: white;
  }
}

.material {
  h3 {
    margin-bottom: 2px;
    margin-top: 10px;
  }
}